<div class="jumbotron text-center mb-0 mt-2 p-1">
  <div class="container">
    <img src="/images/nacelle.png" alt="Nacelle logo" />
    <p>
      Nacelle
      <br />
      Go Service Framework
    </p>
  </div>
</div>

<div class="container features">
  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 offset-md-1">
      <a href="/docs/topics/process">
        <h3>Process Management</h3>
        <p>
          Nacelle initializes and monitors internal processes, ensuring the
          application continues to report healthy.
        </p>
      </a>
    </div>

    <div class="col-12 col-md-5 order-md-1 feature-icon text-center p-1">
      <i class="icon fa fa-server"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 order-md-1">
      <a href="/docs/topics/config">
        <h3>Configuration Management</h3>
        <p>
          Nacelle populates user-defined configuration structs from the
          environment and provides basic type conversions and validation logic.
        </p>
      </a>
    </div>

    <div class="col-12 order-1 col-md-5 offset-md-1 feature-icon text-center p-1">
      <i class="icon fa fa-cogs"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 offset-md-1">
      <a href="/docs/topics/service">
        <h3>Dependency Injection</h3>
        <p>
          Nacelle injects dependencies into user-defined process structs from an
          application-level service container.
        </p>
      </a>
    </div>

    <div class="col-12 col-md-5 order-md-1 feature-icon text-center p-1">
      <i class="icon fas fa-project-diagram"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 order-md-1">
      <a href="/docs/topics/log">
        <h3>Ubiquitous Logging</h3>
        <p>
          Nacelle encourages opinionated structured logging to stderr at all
          layers of the application.
        </p>
      </a>
    </div>

    <div class="col-12 order-1 col-md-5 offset-md-1 feature-icon text-center p-1">
      <i class="icon fas fa-stream"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 offset-md-1">
      <a href="/docs/topics/base">
        <h3>Base Processes</h3>
        <p>
          Nacelle provides skeleton processes suitable for HTTP servers, gRPC
          servers, AWS Lambda servers, and generic worker processes.
        </p>
      </a>
    </div>

    <div class="col-12 col-md-5 order-md-1 feature-icon text-center p-1">
      <i class="icon fas fa-file-code"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-12 order-12 col-md-5 order-md-1">
      <a href="/docs/topics/frameworks">
        <h3>Frameworks</h3>
        <p>
          Nacelle forms the base for the Chevron HTTP server framework and the
          Scarf gRPC server framework.
        </p>
      </a>
    </div>

    <div class="col-12 order-1 col-md-5 offset-md-1 feature-icon text-center p-1">
      <i class="icon far fa-file-code"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"><hr /></div>
  </div>

  <div class="row text-center p-5">
    <div class="offset-md-3 col-md-6">
      <h1><i class="fab fa-github"></i> Open Source</h1>

      <p>
        Nacelle is 100% open source and community-driven. All components are
        available under the
        <a href="https://opensource.org/licenses/MIT">MIT License</a> on
        <a href="https://github.com/go-nacelle">GitHub</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"><hr /></div>
  </div>
</div>
