/* Bootstrap Overrides
 * --------------------------------------------*/

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

pre {
  border: 0;
  background-color: #1e1e1e;
}

dd + dt {
  margin-top: 10px;
}

dd {
  margin-left: 40px;
  padding-right: 40px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
}

table th {
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

table th,
table td {
  padding: .75rem;
}

table tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0, 0, 0, 0.05);
}

.highlight table tbody tr {
  background-color: inherit;
}

/* Stick Footer
 * --------------------------------------------*/

#site-wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 20px;
}

#site-wrapper:after {
  content: "";
  display: block;
}

footer, #site-wrapper:after {
  height: 40px;
}

footer {
  text-align: center;
  background-color: #92b5ba;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  padding-top: 7px;
}

/* Navbar
 * --------------------------------------------*/

.navbar {
  border-bottom: 0px;
  background-color: #92b5ba;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > a {
  color: #fff;
}

.navbar-brand {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

/* Side Menu
 * --------------------------------------------*/

.side-menu h4 {
  margin-bottom: 25px;
}

.side-menu span {
  display: block;
  margin-bottom: 10px;
}

.side-menu .category:not(:first-child) {
  margin-top: 20px;
}

.side-menu div .docpage {
  padding-left: 20px;
}

.side-menu .current::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: .75rem;
  margin-left: -5px;
  padding-right: 5px;
}

.side-menu .current a {
  color: #666;
}

.side-menu .current a:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .collapser:hover {
    text-decoration: none;
  }

  .collapser:after {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: .5rem;
    padding-left: 5px;
    vertical-align: middle;
  }

  .collapser.collapsed:after {
    content: "\f067";
  }
}

@media screen and (min-width: 768px) {
  .collapse:not(.show) {
    display: block;
    height: auto !important;
    visibility: visible;
  }

  .collapsing {
    position: relative;
    height: unset !important;
    overflow: hidden;
  }
}

/* Doc Pages
 * --------------------------------------------*/

.sidebar, .article-content {
  padding-top: 20px;
}

.article-content {
  line-height: 1.6em;
}

.docmeta {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 5px 0;
}

/* Landing Page
 * --------------------------------------------*/

.landing .navbar {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0;
}

.jumbotron {
  margin-top: -54px;
  background-color: #92b5ba;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 2px 0px;
  margin-bottom: 0px;
  padding: 10px 0;
}

.jumbotron p {
  font-weight: 300;
  font-size: 32px;
  color: #fff;
}

.icon {
  font-size: 2rem;
  height: 100px;
  margin-right: 10px;
  text-align: center;
  padding-top: 20px;
  width: 60px;
}

.feature-item {
  color: #444;
  font-size: 21px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
}

.feature-item p {
  color: #6d7986;
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
  width: calc(100% - 70px);
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.callout-container {
  margin-top: 10px;
  margin-bottom: -10px;
}

.callout {
  width: 100%;
  text-align: center;
}

/* Not Found
 * --------------------------------------------*/

.notfound {
  text-align: center;
  padding-top: 50px;
}
