{{ $.root.Scratch.Set "isCollapsed" false }}

{{ range sort .root.Site.Pages "Params.index" }}
  {{ if eq .Params.category $.category }}
    {{ if eq $.permalink .Permalink }}
      {{ $.root.Scratch.Set "isCollapsed" true }}
    {{ end }}
  {{ end }}
{{ end }}

{{ range .root.Site.Pages }}
  {{ if eq .Path (printf "docs/%s/_index.md" $.category) }}
    <span class="category {{ if eq $.permalink (printf "%soverview/" .Permalink) }}current{{ end }}">
      <a href="{{ .Permalink }}">{{ title $.category }}</a>
      <a data-toggle="collapse" href="#collapse-{{ replace $.category " " "-" }}" class="collapser {{ if not ($.root.Scratch.Get "isCollapsed") }}collapsed{{end}}"></a>
    </span>
  {{ end }}
{{ end }}

<div id="collapse-{{ replace $.category " " "-" }}" class="collapse {{ if ($.root.Scratch.Get "isCollapsed") }}show{{end}}">
  {{ range sort .root.Site.Pages "Params.index" }}
    {{ if eq .Params.category $.category }}

      <span class="docpage {{ if eq $.permalink .Permalink }}current{{ end }}">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </span>
    {{ end }}
  {{ end }}
</div>
