<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <p>
          &copy; Eric Fritz 2019
          &middot;
          Logos by <a href="https://www.32radians.com/">Jon Phillips</a>
        </p>

        <p>
          This documentation is <a href="https://github.com/go-nacelle/website">open-source</a>.
          Please help improve it by filing issues or pull requests.
        </p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
