<header class="header fixed-top">
  <div class="branding flex-container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img class="icon" src="/images/nacelle.png" alt="logo" /> 
        <span class="text ml-2">Nacelle</span>
      </a>
    </div>

    <div class="search-wrapper pt-3">
      <form method="GET" action="/search" class="form-inline">
        <input class="form-control ml-auto mr-2" type="search" id="search" name="q" placeholder="Search">
      </form>
    </div>
  </div>
</header>
