<div class="navbar-jumbotron">
  <nav class="navbar navbar-expand navbar-inverse sticky-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">Nacelle</a>

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/docs/quickstart">Docs</a>
        <a class="nav-item nav-link" href="https://github.com/go-nacelle/example">Example</a>
        <a class="nav-item nav-link" href="https://github.com/go-nacelle"><i class="fab fa-github"></i></a>

        <form method="GET" action="/search" class="form-inline my-2 ml-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" id="search" name="q" placeholder="Search">
        </form>
      </div>
    </div>
  </nav>
</div>
