<!doctype html>

<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partialCached "header.html" . }}

    <div class="position-relative">
      <div class="sidebar">
        <nav class="nav navbar p-3">
          {{ partial "sidebar.html" . }}
        </nav>
      </div>

      <div class="content">
        <div class="container">
          <h2>Page not found!</h2>
          <p>Sorry, but the page you were looking for could not be found.</p>
        </div>
      </div>
    </div>

    {{ partialCached "scripts.html" . }}
  </body>
</html>
