<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left fa fa-server"></i>
      <p class="float-right">
        <a href="/docs/core/process">Process Management</a>: Nacelle
        initializes and monitors internal processes, ensuring the
        application continues to report healthy.
      </p>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left fa fa-cogs"></i>
      <p class="float-right">
        <a href="/docs/core/config">Configuration Management</a>: Nacelle
        populates user-defined configuration structs from the environment
        and provides basic type conversions and validation logic.
      </p>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left fas fa-project-diagram"></i>
      <p class="float-right">
        <a href="/docs/core/service">Dependency Injection</a>: Nacelle
        injects dependencies into user-defined process structs from an
        application-level service container.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left fas fa-stream"></i>
      <p class="float-right">
        <a href="/docs/core/log">Ubiquitous Logging</a>: Nacelle encourages
        opinionated structured logging to stderr at all layers of the
        application.
      </p>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left fas fa-file-code"></i>
      <p class="float-right">
        <a href="/docs/base-processes">Base Processes</a>: Nacelle provides
        skeleton processes suitable for HTTP servers, gRPC servers, AWS
        Lambda servers, and generic worker processes.
      </p>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12 feature-item">
      <i class="icon float-left far fa-file-code"></i>
      <p class="float-right">
        <a href="/docs/frameworks">Frameworks</a>: Nacelle forms the base
        for the Chevron HTTP server framework and the Scarf gRPC server
        framework.
      </p>
    </div>
  </div>
</div>