<div class="container features">
  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 offset-md-1 order-12 feature-text">
      <a href="/docs/core/process">
        <h3>Process Management</h3>
        <p>Nacelle initializes and monitors internal processes, ensuring the application continues to report healthy.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 order-md-1 feature-icon">
      <i class="icon fa fa-server"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 order-md-1 order-12 feature-text">
      <a href="/docs/core/config">
        <h3>Configuration Management</h3>
        <p>Nacelle populates user-defined configuration structs from the environment and provides basic type conversions and validation logic.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 offset-md-1 order-1 feature-icon">
      <i class="icon fa fa-cogs"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 offset-md-1 order-12 feature-text">
      <a href="/docs/core/service">
        <h3>Dependency Injection</h3>
        <p>Nacelle injects dependencies into user-defined process structs from an application-level service container.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 order-md-1 feature-icon">
      <i class="icon fas fa-project-diagram"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 order-md-1 order-12 feature-text">
      <a href="/docs/core/log">
        <h3>Ubiquitous Logging</h3>
        <p>Nacelle encourages opinionated structured logging to stderr at all layers of the application.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 offset-md-1 order-1 feature-icon">
      <i class="icon fas fa-stream"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 offset-md-1 order-12 feature-text">
      <a href="/docs/base-processes">
        <h3>Base Processes</h3>
        <p>Nacelle provides skeleton processes suitable for HTTP servers, gRPC servers, AWS Lambda servers, and generic worker processes.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 order-md-1 feature-icon">
      <i class="icon fas fa-file-code"></i>
    </div>
  </div>

  <div class="row my-2 mt-2 justify-content-center">
    <div class="col-md-5 col-12 order-md-1 order-12 feature-text">
      <a href="/docs/frameworks">
        <h3>Frameworks</h3>
        <p>Nacelle forms the base for the Chevron HTTP server framework and the Scarf gRPC server framework.</p>
      </a>
    </div>

    <div class="col-md-5 col-12 offset-md-1 order-1 feature-icon">
      <i class="icon far fa-file-code"></i>
    </div>
  </div>
</div>