<div class="container">
  <div class="row">
    <div class="col-md-12"><hr></div>
  </div>

  <div class="row open-source">
    <div class="offset-md-3 col-md-6">
      <h1>
        <i class="fab fa-github"></i> Open Source
      </h1>
    
      <p>
        Nacelle is 100% open source and community-driven. 
        All components are available under the <a href="https://opensource.org/licenses/MIT">MIT License</a> on <a href="https://github.com/go-nacelle">GitHub</a>.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12"><hr></div>
  </div>
</div>
